@charset "utf-8";

/* =============================================================================
/ Base (html5 boilerplate h5bp.com/css - modified)
/ ============================================================================= */
/* ------- Normalize ------- */
  /* Set all elements to border-box box sizing */
*{-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}

  /* HTML5 display definitions */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

  /* Base */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body {margin:0;text-align:center;font:normal 12px/21px Verdana, Geneva, sans-serif; color:#283545;background-color:#fff;}

  /* Links */
a, .pseudo-link { color: #0059b3;text-decoration:underline;}
a:hover, .pseudo-link:hover {text-decoration:none;}
a:focus, a:visited, .pseudo-link:focus, .pseudo-link:visited { outline:none; border:0; }
a:hover, .pseudo-link:hover, a:active, .pseudo-link:active { outline: 0; cursor:pointer;}

  /* Typography */
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

  /* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

  /* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

  /* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

  /* Lists */
ul, ol {margin:0; padding:0;list-style:none;}
dl {margin:0;padding:0;}
dd { margin: 0; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

  /* Embedded content */
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }

  /* Figures */
figure { margin: 0; }

  /* Forms */
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {}
input:invalid, textarea:invalid { background-color: #f0dddd; }

  /* Tables */
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
th {text-align:left;}

  /* Chrome Frame Prompt */
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

  /* Remove default margin/padding */
h1,h2,h3,h4,h5,h6,ol,ul,li,p,span,a{margin:0; padding:0;}

/* ------- Media queries ------- */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

/* ------- Non-semantic helper classes ------- */
  /* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

  /* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

  /* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {display:none;}

  /* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

  /* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

  /* Alternate method for hiding content only visually - solves IE9 hidden iframe load issue */
.visuallycollapsed { height:0;overflow:hidden; }

  /* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after, 
.row-inner:before, .row-inner:after, 
section:before, section:after,
.contains-2:before, .contains-3:before, .contains-4:before, .contains-5:before, .contains-6:before, .contains-2:after, .contains-3:after, .contains-4:after, .contains-5:after, .contains-6:after,
.form>.inner:before, .form>.inner:after, 
.form .radiobox:before,.form .radiobox:after{ content: " "; display: table; }

.clearfix:after,
.row-inner:after, 
section:after, 
.contains-2:after, .contains-3:after, .contains-4:after, .contains-5:after, .contains-6:after,
.form>.inner:after, 
.form .radiobox:after { clear: both; } 

.clearfix,
.row-inner,
section, 
.contains-2, .contains-3, .contains-4, .contains-5, .contains-6,
.form>.inner, .form .radiobox{ *zoom: 1; }

.floatL {float:left;}
.floatR {float:right;}
.clearL {clear:left;}
.clearR {clear:right}
.clearBoth {clear:both}

/* ------- Base grids------- */
.contains-2>.unit{float:left;width:50%;}
.contains-3>.unit{float:left;width:33.33333%;}
.contains-4>.unit{float:left;width:25%;}
.contains-5>.unit{float:left;width:20%;}
.contains-6>.unit{float:left;width:16.66666%;}
.contains-7>.unit{float:left;width:14.2857%;}
.contains-8>.unit{float:left;width:12.5%;}
.contains-9>.unit{float:left;width:11.11111%;}
.contains-10>.unit{float:left;width:10%;}

/* ------- Gutters ------- */
  /* gutter base */ 
.has-gutter.gutter-sm>.unit {margin-left:2%;}
.has-gutter.gutter-md>.unit {margin-left:5%;}
.has-gutter.gutter-lg>.unit {margin-left:7%;}
.has-gutter.gutter-xl>.unit {margin-left:10%;}
.has-gutter>.unit:first-child {margin-left:0;}
  /* gutter-sm */
.contains-2.gutter-sm>.unit{width:49%;}
.contains-3.gutter-sm>.unit{width:32%;}
.contains-4.gutter-sm>.unit{width:23.5%}
.contains-5.gutter-sm>.unit{width:18.4%}
.contains-6.gutter-sm>.unit{width:15%;}
  /* gutter-md */
.contains-2.gutter-md>.unit{width:47.5%;}
.contains-3.gutter-md>.unit{width:30%;}
.contains-4.gutter-md>.unit{width:21.25%}
.contains-5.gutter-md>.unit{width:16%}
.contains-6.gutter-md>.unit{width:12.5%;}
  /* gutter-lg */
.contains-2.gutter-lg>.unit{width:46.5%;}
.contains-3.gutter-lg>.unit{width:28.66666%;}
.contains-4.gutter-lg>.unit{width:19.75%}
.contains-5.gutter-lg>.unit{width:14.4%}
.contains-6.gutter-lg>.unit{width:10.83333%;}
  /* gutter-xl */
.contains-2.gutter-xl>.unit{width:45%;}
.contains-3.gutter-xl>.unit{width:26.66666%;}
.contains-4.gutter-xl>.unit{width:17.5%}
.contains-5.gutter-xl>.unit{width:12%}
.contains-6.gutter-xl>.unit{width:8.33333%;}

/* ------- Unequal unit distribution ------- */
.unit.size2of4,
.unit.size3of6 {width:50%;}
.unit.size2of3,
.unit.size4of6{width:66.66666%;}
.unit.size3of4{width:75%;}
.unit.size2of5{width:40%;}
.unit.size3of5{width:60%;}
.unit.size4of5{width:80%;}
.unit.size2of6{width:33.33333%;}
.unit.size5of6{width:83.33333%;}


/* ------- Web fonts ------- */
@font-face {
    font-family: 'Opensans-regular';
    src: url('../font/OpenSans-Regular-webfont.eot');
    src: local('☺'),
     url('../font/OpenSans-Regular-webfont.eot') format('embedded-opentype'),
         url('../font/OpenSans-Regular-webfont.woff') format('woff'),
         url('../font/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Opensans-semibold';
    src: url('../font//OpenSans-Semibold-webfont.eot');
    src: local('☺'),
     url('../font/OpenSans-Semibold-webfont.eot') format('embedded-opentype'),
         url('../font/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../font/OpenSans-Semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Opensans-bold';
    src: url('../font/OpenSans-Bold-webfont.eot');
    src: local('☺'),
     url('../font/OpenSans-Bold-webfont.eot') format('embedded-opentype'),
         url('../font/OpenSans-Bold-webfont.woff') format('woff'),
         url('../font/OpenSans-Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ------- Default text styling ------- */
h1{font:43px/56px 'Opensans-semibold'; text-align:left;}
h2{font:25px/34px 'Opensans-regular'; margin:18px 0 0; text-align:left;}
h3,
h4{font:15px/26px 'Opensans-bold'; text-transform:uppercase; margin:21px 0 0; text-align:left;}
h5{font:14px/23px 'Opensans-regular'; margin:21px 0 0; text-align:left;}
p{margin:0 0 21px; text-align:left;}

#global_container {background:#fff;text-align:left;}

/* ------- Row styling ------- */
.row-inner {width:980px;margin-right:auto;margin-left:auto;text-align:left;position:relative;}
.liquid .row-inner{width:auto;margin-right:0;margin-left:0;}

aside {width:270px;}
aside .module {margin-bottom:42px;}

.pattern-CS article {float:left;width:680px;}
.pattern-SC article {float:right;width:680px;}
.pattern-CS aside {float:right;padding-top:40px;}
.pattern-SC aside {float:left;padding-top:18px;}

.mainContent .row:first-child{padding-top:38px;}  
.mainContent .row-inner{margin-bottom:10px;} 
.mainContent .row.pattern-T .row-inner{margin-bottom:0;} /* removes margin bottom from top row */
