	
@charset "utf-8";

body {font:12px/1.75em Verdana, Arial, sans-serif;background-color:#e8e8e8;}
#global_container {background-color: #e8e8e8;}
h1 {margin-bottom:.15em;}
h2 {margin:0 0 .5em;font:24px/1em  'Opensans-bold';}
h3 {margin:0 0 1em;padding:0 0 .25em;font:18px 'Opensans-bold';text-transform:none;border-bottom:1px solid #e3e3e3;}	

/*remove the 'x' clear button from ie browsers */
input::-ms-clear {display: none;}

.button {display: inline-block;cursor:pointer;border-radius:4px;}
.toolbox {margin-bottom:1em;padding: 2em 2.5em;background-color: #f8f8f8;}
/*.toolbox .environment{ padding-left:20px;}*/
.toolbox .log {margin-top:1.25em;color:#aaa;}
.toolbox.first {margin-right:3%;}
.controls>.button {margin-right: .35em;padding:.2em 1em;font-family:'Opensans-bold', Arial, Helvetica, sans-serif;font-size:14px;color:#8b8b8b;background-color: #e3e3e3;border:2px solid #e3e3e3;}
.controls>.button:hover{color:#fff;border-color:#000;background-color: #000;}
.controls>.button.current {color:#3b9ffb;border-color:#3b9ffb;background-color: #fff;}

#params > li{position: relative;margin-bottom: .75em;cursor:pointer;}
#params > li .title {margin-right:40px;background-color: #fff;cursor: default}

#params > li .edit,
#params > li .delete {position: absolute;top:0;width:30px;height:30px;line-height:28px;color:#bebebe;text-align: center;border-radius:4px;}

#params > li .edit {right:20px;background-color: #fff;border:1px solid #eee;}
#params > li .delete {right:-16px;}

#params > li .edit:hover {color:#FFF;background-color: #888;border-color:#888;}
#params > li .delete:hover {color:#FFF;background-color: #E41F71;}


#params > li label,
#params > li input{display: inline-block;height:32px;padding:0 .25em 0 .75em;font:14px/32px 'Opensans-semibold';color:#000;border:1px solid #bfbfbf;cursor: default}

#params > li label {width:35%;position: relative;margin-right: 25px;text-transform: none;font-family:'Opensans-bold';color:#0084ff;border:none;background-color: #dedede;}
#params > li input { width: 49%;}

#params > li label:after {display: block;position: absolute;content:"=";right:-18px;top:0;color:#d2d2d2;}
#params > li input:focus {border-color:#000;box-shadow:0 0 6px 0 #bbb;outline:none;}

#params > li.editing input {color:gray;box-shadow:0 0 6px 0 #bbb;border:1px solid black;}

#params .eq {float:left;margin:0 .75em;color:#d2d2d2;}
#params .remove {float:right;padding:0 .75em;height:30px;line-height:28px;color:#909090;border-radius:4px;border:1px solid #dadada;}
#params .remove:hover {color:#777;background-color: #eee;border-color:#aaa;}

.modal {display: none;opacity:0;position: absolute;z-index:2;top:-8px;width:312px;left:572px;border:1px solid #b7b7b7;border-radius:4px;box-shadow:1px 2px 3px rgba(164,164,164, 0.5);background-color: #fff}
.modal:before, 
.modal:after {position: absolute;top:35%;display: block;content:'';border-style:solid;border-width:6px 10px 6px 8px;border-color:transparent;}
.modal:before {left:-19px;border-right-color:#b7b7b7;}
.modal:after {left:-17px;border-right-color:#fff;}

.modal .inner {height:46px;overflow:hidden;zoom:1;}
.modal li {height:100%;padding:0 3%;float:left;border-left:1px solid #ccc;}
.modal .data {padding:3% 3% 0 3%;border-left:none;}
.modal select {width:225px;/*width:100%;*/height:28px;font-size:13px;}
.modal select:focus {border-color:#ccc!important;outline:none;}
.modal .choose {text-align: center;width:33px;font:13px/46px 'Opensans-bold';color:#9d9d9d;}
.modal .choose.accept {}
.modal .choose.accept:hover {color:#309afc;background-color: #f2f2f2}
.modal .choose.decline:hover {color:#062037;background-color: #f2f2f2}

.urlbox {position: relative;} 
.urlbox .toolbox{margin-bottom:0;}
.url a {display: block;padding:0;position: relative;word-break:break-all;font:21px 'Opensans-semibold';text-decoration: none;}
.url .part {color:black;}
.url .param {color:#309afc;}
.url .sep {color:#bebebe;/*color:#5a6c7d;*/}
.url .eq {color:#94A6B6;/*color:#0168c7;*/}
.url-options {margin:0 auto 2em; }
.url-options .url-go{display: block;padding:.75em 0;color:#000;font-family:'Opensans-bold';font-size:17px;font-weight:normal!important;text-align:center;text-decoration:none;background-color: #0084FF;border-radius:2px;}
.url-options .url-go:hover {background-color:#000;color:#fff;}
.url-options .url-copy {position: absolute; top:-30px;right:0;}

.branding {
	text-align: center;
	margin-bottom:3em;
	text-transform: uppercase;
}
.branding img {
	padding-right:10px;
	vertical-align: bottom
}
.branding a {
	font-weight: bold;
}
.branding .copyright {border-left:1px solid #5C5C5C; margin-left:.5em; padding-left: .5em;}

